{% extends "index.html" %}

{% block content %}
    {% block header %}
        {{ super() }}
    {% endblock header %}

    <h1>分類</h1>

    {% if terms %}
        <ul>
            {% for term in terms %}
                <li>
                    <a href="{{ term.permalink | safe }}">{{ term.name }}</a>（{{ term.pages | length }}）
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock content %}
