{% extends "index.html" %}
{% import "post_macros.html" as post_macros %}

{% block content %}
    {% block header %}
        {{ super() }}
    {% endblock header %}

<article itemscope itemtype="http://schema.org/BlogPosting">
    <header>
        <h1 itemprop="headline">{{ page.title }}</h1>
        <span class="muted">{{ post_macros::meta(page=page) }}</span>
    </header>
    <div itemprop="articleBody">
      {{ page.content | safe }}
    </div>

    {% block page_footer %}
        <footer>
            <hr>
            <p>
                {% if page.extra.author %}
                    由 {{ page.extra.author }} 發布嗰
                {% elif config.extra.author %}
                    由 {{ config.extra.author }} 發布嗰
                {% endif %}
                {% if page.taxonomies.categories %}
                    {% set category = page.taxonomies.categories[0] %}
                    徠 <a href="{{ get_taxonomy_url(kind="categories", name=category) | safe }}">{{ category }}</a> 裡向
                {% endif %}
                {% if page.taxonomies.tags %}
                    {% if page.taxonomies.categories %}and{% endif %}
                    標記了
                    {% for tag in page.taxonomies.tags %}
                        <a href="{{ get_taxonomy_url(kind="tags", name=tag) | safe }}">{{ tag }}</a>
                        {% if page.taxonomies.tags | length > 1 %}
                            {% if loop.index != page.taxonomies.tags | length %}
                                {% if loop.index == page.taxonomies.tags | length - 1 %}
                                    道
                                {% else %}
                                    ，
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </p>
            {% block extra_footer %}
            {% endblock extra_footer %}
        </footer>
    {% endblock page_footer %}
</article>

{% endblock content %}
