{% extends "index.html" %}
{% import "post_macros.html" as post_macros %}

{% block content %}
    {% block header %}
        {{ super() }}
    {% endblock header %}
    <header>
        <h1 itemprop="headline">{{ section.title }}</h1>
    </header>
    <div itemprop="articleBody">
      {{ section.content | safe }}
    </div>

{% endblock content %}
